

.mySwiper {
    /* Customize the swiper styles here */
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    color: green; /* Customize navigation button color */
}

.blog-content pre {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    font-family: inherit; /* Use the same font family as the rest of the content */
    word-wrap: break-word; /* Ensure long words break to prevent overflow */
}
